.about-header h1{
  font-size: 30px;
  color: rgb(129, 102, 55);
}

.about-header img {
  height: 200px;
}

.about-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 170px;
}

.about-text {
    max-width: 500px;
    line-height: 1.5;
    color: rgba(66, 50, 22, 1);
    margin: 0 auto;
    text-align: justify;
    text-shadow: -1px 0 #EFE7DC, 0 1px #EFE7DC, 1px 0 #EFE7DC, 0 -1px #EFE7DC;
    font-weight: bold;
}