.carousel-section {
  margin-top: 20px;
  padding: 60px 40px;
  text-align: center;
}

.section-title {
  font-size: 50px;
  margin-bottom: 30px;
  color: rgb(132, 103, 52);
  background-color: #E8DCD1;
  box-shadow: 1px 5px 5px rgb(127, 115, 95);
  padding: 5px;
  border-radius: 40px
}

.carousel-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding-right: 65px;
}

.carousel-track {
  display: flex;
  gap: 30px;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: calc(100% / 3);
  opacity: 0.4;
  transform: scale(0.85);
  transition: all 0.8s ease;
  filter: blur(1px);
}

.slide.active {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
  
}

.slide img {
  width: 100%;
  height: 360px;
  object-fit: contain;
  border-radius: 8px;
}

.slide p {
  margin-top: 5px;
  margin-bottom: 90px;
  font-size: 0.95rem;
  font-style: italic;
  padding: 10px 20px;
  background-color: rgb(132, 103, 52);
  box-shadow: 1px 5px 5px rgb(127, 115, 95);  
  border-radius: 40px;
  color: #f9e5a3;
}