body {
  margin: 0;
  font-family: "EB Garamond";
  background-image: url(background-image-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    height: 700px;
    width: 700px;
}

.logo {
    width: 700px;
    height: 700px;
}

.enter-button{
    position: absolute;
    margin-top: 450px;
    padding: 7px 150px;
    font-size: 18px;
    font-family: "EB Garamond";
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background-color: #FCFCFC;
    box-shadow: 1px 5px 5px rgb(127, 115, 95);
    color: rgba(66, 50, 22, 1);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5;
  overflow: hidden;
  background-color: rgb(132, 103, 52);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color:  #f4eee8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

ul li a:hover {
  background-color: rgb(87, 66, 29);
}

.navbar a.active {
  color: white;
  font-weight: 600;
  border-bottom: 2px solid white;
}

.navbar a.active img {
  transform: scale(1.5);

}

.logo-1 {
  height: 15px;
}

.carousel-section {
  padding: 60px 40px;
  text-align: center;
}

.section-title {
  font-size: 50px;
  margin-bottom: 10px;
  color: rgb(132, 103, 52);
  background-color: #E8DCD1;
  box-shadow: 1px 5px 5px rgb(127, 115, 95);
  padding: 5px;
  border-radius: 40px
}

.carousel-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding-right: 65px;
}

.carousel-track {
  display: flex;
  gap: 30px;
  transition: transform 1s ease-in-out;
}

.slide {
  min-width: calc(100% / 3);
  opacity: 0.4;
  transform: scale(0.85);
  transition: all 0.8s ease;
  filter: blur(1px);
}

.slide.active {
  opacity: 1;
  transform: scale(1);
  filter: blur(0);
  
}

.slide img {
  width: 100%;
  height: 360px;
  object-fit: contain;
  border-radius: 8px;
}

.slide p {
  margin-top: 5px;
  margin-bottom: 90px;
  font-size: 0.95rem;
  font-style: italic;
  padding: 10px 20px;
  background-color: rgb(132, 103, 52);
  box-shadow: 1px 5px 5px rgb(127, 115, 95);  
  border-radius: 40px;
  color: #f9e5a3;
}

.card {
  transition: transform 0.3s ease;
}

.card img{
  height: 270px;
  transition: transform 0.4s ease;
}

.card:hover {
  transform: scale(1.1);
}

.card p {
  margin: 0;
  font-size: 0.95rem;
  font-style: italic;
  padding: 5px 20px;
  background-color: rgb(132, 103, 52);
  box-shadow: 1px 5px 5px rgb(127, 115, 95);  
  border-radius: 40px;
  color: #f9e5a3;
  text-align: center;
}

.collections{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 images per row */
  gap: 30px; /* space between images */
  padding: 40px;
  justify-items: center;
  margin-top: 40px;
}

.collections-title {
  font-size: 30px;
  margin: 0;
  color: rgb(132, 103, 52);
  background-color: #E8DCD1;
  box-shadow: 1px 5px 5px rgb(127, 115, 95);
  padding: 10px 40px;
  border-radius: 40px;
  text-align: center;
  width: fit-content;      /* shrink to content width so auto margin works */
  grid-column: 1 / -1; 
}