body {
  margin: 0;
  font-family: "EB Garamond";
  background-image: url(background-image-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    height: 700px;
    width: 700px;
}

.logo {
    width: 700px;
    height: 700px;
}

.enter-button{
    position: absolute;
    margin-top: 450px;
    padding: 7px 150px;
    font-size: 18px;
    font-family: "EB Garamond";
    cursor: pointer;
    border: none;
    border-radius: 40px;
    background-color: #FCFCFC;
    box-shadow: 1px 5px 5px rgb(127, 115, 95);
    color: rgba(66, 50, 22, 1);
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 5;
  overflow: hidden;
  background-color: rgb(132, 103, 52);
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color:  #f4eee8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

ul li a:hover {
  background-color: rgb(87, 66, 29);
}

.navbar a.active {
  color: white;
  font-weight: 600;
  border-bottom: 2px solid white;
}

.navbar a.active img {
  transform: scale(1.5);

}

.logo-1 {
  height: 15px;
}

header {
  margin: 100px;
}

h3 {
  margin: 20px;
  text-align: center;
  font-size: 50px;
  color: rgb(132, 103, 52);
  background-color: #E8DCD1;
  box-shadow: 1px 5px 5px rgb(127, 115, 95);
  padding: 5px;
  border-radius: 40px
}

.image-container {
  position: relative;
  bottom: 30px;
}

.artwork {
  position: absolute;
  top: auto;
  right: 1200px;
}

.author {
  margin: 0;
  font-size: 0.95rem;
  font-style: italic;
  padding: 5px 20px;
  background-color: rgb(132, 103, 52);
  box-shadow: 1px 5px 5px rgb(127, 115, 95);  
  border-radius: 40px;
  color: #f9e5a3;
  text-align: center;
}

.description {
  position: absolute;
  top: -15px;      
  left: 420px;     
  width: 1000px;
  background-color: #efe7dc;
  box-shadow: 1px 5px 5px rgb(127, 115, 95);
  padding: 20px;
  border-radius: 40px;
  text-align: justify;
  line-height: 1.6;
  color: #423216;
  text-shadow: -1px 0 #efe7dc, 0 1px #efe7dc, 1px 0 #efe7dc, 0 -1px #efe7dc;
}